/* global styles */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d0dee1;
    color:  #173e43;
}

.location-btn-style, .search-btn-style, .home-page-btn {
    background-color:#3fb0ac;
    color: #f0eceb;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
        0 2px 10px 0 rgba(0,0,0,0.12);
}

.cancel-btn-style, .back-btn-style, .language-btn-style {
    background-color: #d0dee1;
    border-color: #3fb0ac;
    color: #3fb0ac;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
        0 2px 10px 0 rgba(0,0,0,0.12);
}

.language-btn-style-checked {
    background-color: #3fb0ac;
    color: #f0eceb;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
        0 2px 10px 0 rgba(0,0,0,0.12);
}

.location-btn-style:hover, .search-btn-style:hover, .home-page-btn:hover, .card-style:hover {
    box-shadow: 2px 2px #369693;
    text-decoration: none !important;
}
 
.term-rule-suggestion:hover, .term-specialization:hover, 
.term-generalization:hover, .term-top-level:hover {
    box-shadow: 2px 2px #cccc00;
    text-decoration: none !important;
}

.cancel-btn-style:hover, .back-btn-style:hover {
    background-color: #369693;
    color: #f0eceb;
}

.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
 
.term-rule-suggestion {
    background-color: #ffdb4d;
    color: #173e43;
} 

.term-specialization {
    background-color: #ffff80;
    color: #173e43;
}

.term-generalization {
    background-color: #ffffcc;
    color: #173e43;
}

.term-top-level {
    background-color: #ffeb3b;
    color: #173e43;
}

.invisible-link {
    text-decoration: none !important;
}

.card-style {
    background-color: #3fb0ac;
    color: #f0eceb;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
        0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-text {
    color: #f0eceb;
    text-align: left;
}

.location-detail-style {
    background-color: #173e43;
    color: #f0eceb;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
        0 2px 10px 0 rgba(0,0,0,0.12);
}

.change-location-btn, .nav-language-btn-style-checked {
    background-color: #f0eceb;
    color:  #173e43;
}

.nav-language-btn-style {
    background-color: #173e43;
    border-color: #f4f1f0;
    color: #f4f1f0;
}

.change-location-btn:hover {
    box-shadow: 2px 2px #c8bbb6;
    text-decoration: none;
}

.suggestion-btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
        0 2px 10px 0 rgba(0,0,0,0.12);
}

.form-control {
    border: none;
    background-color: #d0dee1;
}

.form-control:focus {
    border: none;
    background-color: #d0dee1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.vue-tags-input, .input {
    background-color: #fff;
}

.new-tag-input, .input {
    background-color: #fff;
}

.tag-custom li.tag {
    background-color: #3fb0ac !important;
    color: #fff !important;
    border-radius: 18px !important;
}

div > p > a, button > a, .footer > div > a {
    color: #f0eceb;
}

div > p > a:hover, div > a:hover, button > a:hover, .footer > div > a:hover {
    color: #f0eceb;
}

div > a {
    color: #3fb0ac;
}

div > a:hover {
    color: #3fb0ac;
}

.divider {
    border-top-color: #3fb0ac !important;
}

.footer {
    background-color: #173e43;
    color: #f0eceb;
    text-align: left;
}

.modal-error-style .modal-header{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.modal-error-style .modal-body{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
